---
layout: default
---

<table>
    <thead>
      <tr>
        <th>State</th>
        <th>Region</th>
        <th>Event</th>
        <th>Date</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
        {% for event in site.events %}
        <tr>
            <td>
                {{ event.state }}
            </td>
            <td>
                {{ event.region }}
            </td>
            <td>
                <a href="{{ event.url }}">{{ event.title }}</a>
            </td>
            <td>
                {{ event.date }}
            </td>
            <td>
                {{ event.cost }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ content }}