---
layout: default
---

{{ content }}

<h2>Events in {{page.name}}:</h2>
<table>
    <thead>
    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Cost</th>
    </tr>
    </thead>
    <tbody>

        {% assign sortedEvents = site.events | sort: 'start_date' | where: "region", page.region %}
        {% for event in sortedEvents %}
        <tr>
            <td>
                <a href="{{ event.event_url }}" target="_blank">{{ event.title }}</a>
            </td>
            <td>
                {{ event.start_date | date: "%A, %B %-d, %Y"}}
                {% if event.end_date %}
                - {{ event.end_date | date: "%A, %B %-d, %Y"}}
                {% endif %}
            </td>
            <td>
                {{ event.cost }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Groups in {{page.name}}:</h2>
<table>
    <thead>
    <tr>
        <th>Group</th>
    </tr>
    </thead>
    <tbody>
        {% assign sortedGroups = site.groups | sort: 'title' | where: "region", page.region %}
        {% for group in sortedGroups %}
        <tr>
            <td>
                <a href="{{ group.group_url }}" target="_blank">{{ group.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>