---
layout: default
---

<h2>{{page.title}}</h2>

{{ content }}

<h3>Events:</h3>
<ul>
    {% assign sortedEvents = site.events | sort: 'start_date' | where: "topics", page.slug %}
    {% for event in sortedEvents %}
        <li>
            <a href="{{ event.event_url }}" target="_blank">{{ event.title }}</a> ({{ event.region }}) {{ event.start_date | date: "%A, %B %-d, %Y"}}
            {% if event.end_date %}
            to {{ event.end_date | date: "%A, %B %-d, %Y"}}
            {% endif %} ({{ event.cost }})
        </li>
    {% endfor %}
</ul>

<h3>Groups:</h3>
<ul>
    {% assign sortedGroups = site.groups | sort: 'title' | where: "topics", page.slug %}
    {% for group in sortedGroups %}
        <li>
            <a href="{{ group.group_url }}" target="_blank">{{ group.title }}</a> ({{ group.region }}) {{ group.description }}
        </li>
    {% endfor %}
</ul>